[general]

resource_parser_url=https://raw.githubusercontent.com/lancercd/QuantumultX/master/general/resource_parser.js

dns_exclusion_list = *.cmpassport.com, *.jegotrip.com.cn, *.icitymobile.mobi, id6.me

;udp_whitelist = 53, 123, 1900, 80-443
;udp_drop_list = 1900, 80
excluded_routes = 192.168.0.0/16, 172.16.0.0/12, 100.64.0.0/10, 10.0.0.0/8
;icmp_auto_reply = true


[dns]

no-ipv6
server = 223.5.5.5
server = 114.114.114.114
server = 119.29.29.29
server = 8.8.8.8

[policy]


[server_remote]
https://a.luxury/link/BE0vFTpsei5xEgMF?sub=3, tag=Tag-1658024809, update-interval=172800, opt-parser=true, enabled=true


[filter_remote]
FILTER_LAN, tag=LAN, force-policy=direct, update-interval=172800, opt-parser=false, enabled=true
FILTER_REGION, tag=CN, force-policy=direct, update-interval=172800, opt-parser=false, enabled=true



https://raw.githubusercontent.com/lancercd/QuantumultX/master/filter_remote/AdBlock.txt, tag=广告拦截, force-policy=reject, enabled=true

https://raw.githubusercontent.com/lancercd/QuantumultX/master/filter_remote/Domestic.txt, tag=国内网站, force-policy=direct, enabled=true

https://raw.githubusercontent.com/lancercd/QuantumultX/master/filter_remote/Apple_CDN.txt, tag=苹果, force-policy=direct, enabled=true

https://raw.githubusercontent.com/lancercd/QuantumultX/master/filter_remote/TikTok.txt, tag=tiktok, force-policy=proxy, enabled=true

https://raw.githubusercontent.com/lancercd/QuantumultX/master/filter_remote/Global.txt, tag=国外网站, force-policy=proxy, enabled=true


[rewrite_remote]

https://raw.githubusercontent.com/lancercd/QuantumultX/master/rewrite_remote/bilibili.txt, tag=Bilibili去广告, update-interval=172800, opt-parser=false, enabled=true


[server_local]


[filter_local]

host-suffix, gov.cn, direct

#迅雷版权问题
host, hub5idx.v6.shub.sandai.net, reject
host, hub5emu.v6.shub.sandai.net, reject
host, hub5btmain.v6.shub.sandai.net, reject

#去掉YouTube++底部广告
host-suffix, ehg-youtube.hitbox.com, reject

ip-cidr, 10.0.0.0/8, direct
ip-cidr, 127.0.0.0/8, direct
ip-cidr, 172.16.0.0/12, direct
ip-cidr, 192.168.0.0/16, direct
ip-cidr, 224.0.0.0/24, direct

geoip, cn, direct

final, proxy

[rewrite_local]

[task_local]

[http_backend]

[mitm]
